@model MSIT158_2_FinalProject.Models.TMember

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout_Backstage2";
}

<h1>新增會員資料</h1>

<h4>填寫會員資訊</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form id="userForm" class="row g-3 needs-validation" novalidate>

            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@

            <div class="form-group col-md-4 position-relative">
                <label asp-for="MemberName" class="control-label">會員名稱</label>
                <input asp-for="MemberName" class="form-control" id="InputName" name="MemberName" required />
                <span asp-validation-for="MemberName" class="text-danger"></span>
                <div class="invalid-tooltip">
                    請輸入有效的會員名稱。
                </div>
            </div>
            @* <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" id="InputAddress" name="Address"/>
            <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Sex" class="control-label"></label>
            <input asp-for="Sex" class="form-control" id="InputSex" name="Sex"/>
            <span asp-validation-for="Sex" class="text-danger"></span>
            </div> *@
            <div class="form-group col-md-4 position-relative">
                <label asp-for="Password" class="control-label">會員密碼</label>
                <input asp-for="Password" class="form-control" id="InputPassword" name="Password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="invalid-tooltip">
                    請輸入有效的密碼。
                </div>
            </div>
            <div class="form-group col-md-4 position-relative">
                <label for="Inputrepassword" class="form-label">密碼確認</label>
                <input type="text" class="form-control" id="Inputrepassword" name="repassword" required />
                <div class="invalid-tooltip">
                    再次輸入密碼，將做密碼二次確認。
                </div>
            </div>
            <div class="form-group col-md-6 position-relative">
                <label asp-for="Cellphone" class="control-label">會員手機</label>
                <input asp-for="Cellphone" class="form-control" id="Inputphone" name="Cellphone" required />
                <span asp-validation-for="Cellphone" class="text-danger"></span>
                <div class="invalid-tooltip">
                    請輸入有效的會員手機。
                </div>
            </div>
            @* <div class="form-group">
            <label asp-for="Salt" class="control-label"></label>
            <input asp-for="Salt" class="form-control" />
            <span asp-validation-for="Salt" class="text-danger"></span>
            </div> *@
            <div class="form-group col-md-6 position-relative">
                <label asp-for="EMail" class="control-label">電子郵件</label>
                <input asp-for="EMail" class="form-control" id="InputEmail" name="EMail" required />
                <span asp-validation-for="EMail" class="text-danger"></span>
                <div class="invalid-tooltip">
                    請輸入有效的電子郵件。
                </div>
            </div>
            @* <div class="form-group">
            <label asp-for="Points" class="control-label"></label>
            <input asp-for="Points" class="form-control" />
            <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Vipid" class="control-label"></label>
            <input asp-for="Vipid" class="form-control" />
            <span asp-validation-for="Vipid" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
            <label asp-for="MemberPhoto" class="control-label"></label>
            <input asp-for="MemberPhoto" class="form-control" id="InputPhoto" name="MemberPhoto" name="avatar" type="file"/>
            <span asp-validation-for="MemberPhoto" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
            <label asp-for="Wallet" class="control-label"></label>
            <input asp-for="Wallet" class="form-control" />
            <span asp-validation-for="Wallet" class="text-danger"></span>
            </div> *@


            <div class="form-group">
                <input type="submit" value="送出並新增" class="btn btn-primary" id="buttonSubmit" />
                <button class="btn btn-danger" id="buttonSubmitB">快速填入</button>

                <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" id="buttonSubmitC">商標圖片</button>
                <div class="offcanvas offcanvas-bottom" data-bs-theme="dark" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasBottomLabel">商標圖片</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">

                        <div class="horizontal-group">
                            <div id="carouselExampleInterval1" class="carousel slide custom-carousel" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                </div>
                                <div class="rounded-carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (1).jpeg" class="d-block w-100" alt="Slide 1">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (2).jpeg" class="d-block w-100" alt="Slide 2">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (3).jpeg" class="d-block w-100" alt="Slide 3">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (4).jpeg" class="d-block w-100" alt="Slide 4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="carouselExampleInterval2" class="carousel slide custom-carousel" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                </div>
                                <div class="rounded-carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (5).jpeg" class="d-block w-100" alt="Slide 1">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (6).jpeg" class="d-block w-100" alt="Slide 2">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (7).jpeg" class="d-block w-100" alt="Slide 3">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (8).jpeg" class="d-block w-100" alt="Slide 4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="carouselExampleInterval3" class="carousel slide custom-carousel" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleInterval3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleInterval3" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleInterval3" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carouselExampleInterval3" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                </div>
                                <div class="rounded-carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (9).jpeg" class="d-block w-100" alt="Slide 1">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (10).jpeg" class="d-block w-100" alt="Slide 2">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (11).jpeg" class="d-block w-100" alt="Slide 3">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (12).jpeg" class="d-block w-100" alt="Slide 4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="carouselExampleInterval4" class="carousel slide custom-carousel" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleInterval4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleInterval4" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleInterval4" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carouselExampleInterval4" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                </div>
                                <div class="rounded-carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (13).jpeg" class="d-block w-100" alt="Slide 1">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (14).jpeg" class="d-block w-100" alt="Slide 2">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (15).jpeg" class="d-block w-100" alt="Slide 3">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (16).jpeg" class="d-block w-100" alt="Slide 4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="carouselExampleInterval5" class="carousel slide custom-carousel" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleInterval5" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleInterval5" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleInterval5" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carouselExampleInterval5" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                </div>
                                <div class="rounded-carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (17).jpeg" class="d-block w-100" alt="Slide 1">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (18).jpeg" class="d-block w-100" alt="Slide 2">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (19).jpeg" class="d-block w-100" alt="Slide 3">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="~/img/sdesigner (20).jpeg" class="d-block w-100" alt="Slide 4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </form>
        <div id="div1" class="alert alert-info mt-3"></div>
    </div>
</div>

<div>
    <a asp-action="List" class="btn btn-light">返回</a>
</div>
@section Styles {
    <style>
        .vertical-group {
            display: flex;
            flex-direction: column;
            align-items: center; /* 確保垂直群組的項目水平置中 */
            gap: 20px; /* 調整間距 */
            width: 100%; /* 確保群組佔滿整個寬度 */
        }

        .horizontal-group {
            display: flex;
            flex-direction: row;
            justify-content: center; /* 確保旋轉木馬水平置中 */
            align-items: stretch; /* 伸展項目以填滿容器 */
            gap: 20px; /* 調整間距 */
            margin: 10px auto; /* 左右各250px的間距 */
            width: 100%; /* 確保群組佔滿50%的寬度 */
        }

        .custom-carousel {
            flex: 1; /* 確保旋轉木馬佔據可用空間 */
            width: 30%;
            margin: auto; /* 使旋轉木馬居中 */
        }

        .carousel-item img {
            border-radius: 15px; /* 圓角設置 */
        }

        .rounded-carousel {
            border-radius: 15px; /* 可以根據需求調整框架的圓角大小 */
            overflow: hidden; /* 確保圓角適用於整個框架內容 */
        }

    </style>
}
@section Scripts {
    <script>
        const divResult = document.querySelector("#div1");
        const btnSubmit = document.querySelector('#buttonSubmit');
        // 用於在有無效欄位時禁用表單提交的示例啟動 JavaScript
        (() => {
            // 獲取所有需要應用自定義 Bootstrap 驗證樣式的表單
            const forms = document.querySelectorAll('.needs-validation');

            // 全部這些表單並阻止提交動作
            Array.from(forms).forEach(form => {
                form.addEventListener('click', event => {
                    // 如果表單無效，則阻止提交
                    if (!form.checkValidity()) {
                        event.preventDefault(); // 阻止表單提交
                        event.stopPropagation(); // 阻止事件冒泡
                    }
                    // 添加 Bootstrap 的驗證樣式類別
                    form.classList.add('was-validated');
                }, false);
            });
        })();

        document.querySelector('#buttonSubmitB').addEventListener('click', (evt) => {
            evt.preventDefault(); // 防止預設行為的發生
            document.querySelector('#InputName').value = "史昆靈葛葛 您是一位帥哥";
            document.querySelector('#Inputphone').value = "0988776655";
            document.querySelector('#InputEmail').value = "k955339962@gmail.com";
            document.querySelector('#InputPassword').value = "aaaa";
            document.querySelector('#Inputrepassword').value = "aaaa";
        });
        document.querySelector('#buttonSubmitC').addEventListener('click', (evt) => {
            document.querySelector('#sidenav-main').style.display = 'none';
        });
        document.querySelector('#offcanvasBottom').addEventListener('hidden.bs.offcanvas', (evt) => {
            document.querySelector('#sidenav-main').style.display = '';
        });
        btnSubmit.addEventListener('click', async (evt) => {
            evt.preventDefault(); //防止預設行為的發生
            const memberName = document.querySelector('#InputName').value;
            const memberphone = document.querySelector('#Inputphone').value;
            const memberPassword = document.querySelector('#InputPassword').value;
            const rememberPassword = document.querySelector('#Inputrepassword').value;
            const memberEmail = document.querySelector('#InputEmail').value;
            //const memberAddress = document.querySelector('#InputAddress').value;
            //const memberSex = document.querySelector('#InputSex').value;
            //const memberPhoto = document.querySelector('#InputPhoto').value;
            // const memberData = {
            //     "MemberName": memberName,
            //     "Cellphone": memberphone,
            //     "Address": memberAddress,
            //     "Sex": memberSex,
            //     "Password": memberPassword,
            //     "EMail": memberEmail,
            //     "MemberPhoto": memberPhoto
            // };
            if (memberName && memberphone && memberEmail && memberPassword) {
                if (memberPassword === rememberPassword) {
                    //將資料放進FormData
                    const myForm = document.querySelector('#userForm');
                    const fromdata = new FormData(myForm);
                    //測試FormData中有無資料
                    for (const pair of fromdata.entries()) {
                        console.log(pair[0], pair[1]);
                    }

                    const url = 'https://localhost:7160/api/TMembers/CreateCheckPassword';
                    const response = await fetch(url, {
                        method: 'POST',
                        body: fromdata
                    });

                    const data = await response.json();
                    const message = data.message;
                    const Jname = data.m.memberName;
                    divResult.innerHTML = `<p>會員姓名：${Jname}：${message}</p>`;
                    if (Jname != null) {
                        alert(`${Jname}：${message}`);
                        setTimeout(() => {
                            window.location.href = "/Member/List";
                        }, 3000); // 3000 毫秒 = 3 秒
                    }
                } else
                    alert("請再次確認密碼是否一致");
            } else
                alert("尚未完成會員個人基本資料填寫");
        })
    </script>
    @* @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
}
