@model MSIT158_2_FinalProject.Models.TMember

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout_Backstage";
}

<h1>修改會員資料</h1>

<h4>填寫會員資訊</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@

            <input type="hidden" value="@Model.MemberId" name="MemberId" />
            <div class="form-group">
                <label asp-for="MemberName" class="control-label"></label>
                <input asp-for="MemberName" class="form-control" id="Inputname" name="MemberName" />
                <span asp-validation-for="MemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cellphone" class="control-label"></label>
                <input asp-for="Cellphone" class="form-control" id="Inputphone" name="Cellphone" />
                <span asp-validation-for="Cellphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" id="InputAddress" name="Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" id="InputSex" name="Sex" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" id="InputPassword" name="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salt" class="control-label"></label>
                <input asp-for="Salt" class="form-control" id="InputSalt" name="Salt" />
                <span asp-validation-for="Salt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMail" class="control-label"></label>
                <input asp-for="EMail" class="form-control" id="InputEMail" name="EMail" />
                <span asp-validation-for="EMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" id="InputPoints" name="Points" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vipid" class="control-label"></label>
                <input asp-for="Vipid" class="form-control" id="InputVipid" name="Vipid" />
                <span asp-validation-for="Vipid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberPhoto" class="control-label"></label>
                <input asp-for="MemberPhoto" class="form-control" id="InputPhoto" name="MemberPhoto" />
                <span asp-validation-for="MemberPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wallet" class="control-label"></label>
                <input asp-for="Wallet" class="form-control" id="InputWallet" name="Wallet" />
                <span asp-validation-for="Wallet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="送出並儲存" class="btn btn-primary" id="buttonSubmit" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">返回</a>
</div>

@section Scripts {
    <script>
        const divResult = document.querySelector("#div1");
        const btnSubmit = document.querySelector('#buttonSubmit');

        btnSubmit.addEventListener('click', async (evt) => {
            evt.preventDefault(); //防止預設行為的發生
            const memberName = document.querySelector('#InputName').value;
            const memberphone = document.querySelector('#Inputphone').value;
            const memberAddress = document.querySelector('#InputAddress').value;
            const memberSex = document.querySelector('#InputSex').value;
            const memberPassword = document.querySelector('#InputPassword').value;
            const memberSalt = document.querySelector('#InputSalt').value;
            const memberEMail = document.querySelector('#InputEMail').value;
            const memberPoints = document.querySelector('#InputPoints').value;
            const memberVipid = document.querySelector('#InputVipid').value;
            const memberPhoto = document.querySelector('#InputPhoto').value;
            const memberWallet = document.querySelector('#InputWallet').value;
            const memberData = {
                "MemberName": memberName,
                "Cellphone": memberphone,
                "Address": memberAddress,
                "Sex": memberSex,
                "Password": memberPassword,
                "EMail": memberEmail
            };



            const url = 'https://localhost:7160/api/TMembers';
            console.log("test2");
            const response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify(memberData),
                headers: { 'Content-Type': 'application/json' }
            });

            const data = await response.text();
            const json = JSON.parse(data);
            const Jname = json.m.memberName;
            console.log(Jname);
            divResult.innerHTML = `<p>${Jname}</p>`;
        })
    </script>

   @*  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
}
