<form class="review-form">
<table class="table table-hover" style="font-size:20px">
	<tbody>
			<tr >
				<td rowspan="4" width="15%">
				<img src="~/img/cccccc.jpg" style="width: 250px; height: 250px;object-fit: contain;" />
			</td>			
		</tr>
		<tr>
				<td>商品名</td>			
		</tr>
		<tr>
				<td>
					<div class="input-rating">
						<span>您的評價: </span>
						<div class="stars">
							<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
							<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
							<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
							<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
							<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
						</div>
					</div>
				</td>				
		</tr>
		<tr>			
			<td>
				<textarea class="input" placeholder="評論內容" style="height:120px"></textarea>
			</td>
		</tr>
	</tbody>
</table>
</form>
<div style="text-align:right">
<input type="button" class="primary-btn" style="width:10%;font-size:20px" value="送出"></inputt>
</div>
