<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Select Shop|父親節優惠</title>
	<meta name="next-head-count" content="3" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
	<meta name="description" content="Select Shop|父親節優惠" />
	<meta property="article:author" content="Select Shop" />
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="alternate" href="https://feversocial.com/goodlucky789/4859" />
	<link rel="canonical" href="https://feversocial.com/goodlucky789/4859" />
	<link rel="stylesheet" href="https://assets.fevercdn.com/nc/css/external.css" />
	<link rel="stylesheet" href="https://assets.fevercdn.com/nc/css/theme.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
		  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

	<script async="">
		var __ZINES_API_ENDPOINT__ = 'https://api.zines.cc';
		var __FEVER_API_ENDPOINT__ = 'https://api.feversocial.com';
		var __ENVIR__ = 'prod';
		var __LOCAL_EDITOR_FV_HOST__ = 'undefined';
		var __LOCAL_CLIENT_FV_HOST__ = 'undefined';
		var __DEVELOPMENT__ = false;
	</script>
	<script async="">
		dataLayer = [
			{
				pageId: "4859", trackSection: ["#section-84895", "#section-84894", "#section-84899", "#section-84908", "#section-84906", "#section-84907", "#section-84901", "#section-84902", "#section-84904", "#section-84905"], env: "p", reportGA4MeasurementId: "G-KSRPQK682B", uniqueName: "feversocial", send_page_view: "", url: '/goodlucky789/4859/' + location.search
			}
		]
	</script>
	<script async="">
		function gtm(w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push(
				{
					'gtm.start': new Date().getTime(), event: 'gtm.js'
				});
			var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		}
		gtm(window, document, 'script', 'dataLayer', 'GTM-NP4F5B');
	</script>
	<noscript data-n-css=""></noscript>
	<script defer="" nomodule="" src="/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js"></script>
	<script defer="" src="/_next/static/chunks/b637e9a5.fffac9a0bc3070e4.js"></script>
	<script defer="" src="/_next/static/chunks/182.c3543b37ae52a519.js"></script>
	<script defer="" src="/_next/static/chunks/905.f93f341f84dcbbb6.js"></script>
	<script defer="" src="/_next/static/chunks/425.10fcc5c3bd48ce16.js"></script>
	<script defer="" src="/_next/static/chunks/Client-Code.c3f87fc1168c9c63.js"></script>
	<script src="/_next/static/chunks/webpack-db08f3a12290e73f.js" defer=""></script>
	<script src="/_next/static/chunks/framework-36098b990598bc0c.js" defer=""></script>
	<script src="/_next/static/chunks/main-c5b98c2bbd40bc0f.js" defer=""></script>
	<script src="/_next/static/chunks/pages/_app-4261a5173f0e5dab.js" defer=""></script>
	<script src="/_next/static/chunks/805f36e6-147ec1374fa810b8.js" defer=""></script>
	<script src="/_next/static/chunks/300-5572a975bb1ff1d0.js" defer=""></script>
	<script src="/_next/static/chunks/994-949e53f18e2bec64.js" defer=""></script>
	<script src="/_next/static/chunks/400-48aea2c95c6b2e3c.js" defer=""></script>
	<script src="/_next/static/chunks/131-9bb425c97c9c9dbe.js" defer=""></script>
	<script src="/_next/static/chunks/48-c33e150329e34db8.js" defer=""></script>
	<script src="/_next/static/chunks/pages/client-284758559f30844b.js" defer=""></script>
	<script src="/_next/static/6.2.27/_buildManifest.js" defer=""></script>
	<script src="/_next/static/6.2.27/_ssgManifest.js" defer=""></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
	</script>
</head>
<body class="font-loaded">
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NP4F5B" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div id="__next">
        <div>
            <div id="header_portal" class="css-r32xqa"></div>
            <div id="dialog_portal" class="css-z3sw9e"></div>
            <div class="pure-g css-1ydwhi2">
                <div class="pure-u-1">
                    <div>
                        <div>
                            <section>
                                <img class="fathersdaypic" title="父親節我付清！溫馨時刻大募集" alt="父親節我付清！溫馨時刻大募集" src="fathersday.png" width="100%" />
                            </section>
                        </div>
                        <div class="wholepage" id="section-84894">
                            <section class="sectionStyle" data-sectiontype="TextBox">
                                <div class="subtitlebackgroundcolor">

                                    <div class="css-63o0oz">
                                        <div class="css-1125739">
                                            <div class="css-vp7yg8 ">
                                                <div class="pure-u-xl-7-12 pure-u-1">
                                                    <div id="TextBox-9x5cADsUvB" class="css-1wgxp4a">
                                                        <div class="pure-u-1 pure-u-md-1-1 css-nil">
                                                            <div class="css-q619vd">
                                                                <p style="text-align:center">
                                                                    <span style="color:#ffffff">
                                                                        <span style="font-size:24px">
                                                                            <strong class="bold">《父親節我付清！溫馨時刻大募集》</strong>
                                                                        </span>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="wholepage" id="section-84899">
                            <section class="sectionStyle" data-sectiontype="TextBox">

                                <div class="css-63o0oz">
                                    <div class="css-1125739">
                                        <div class="css-vp7yg8 ">
                                            <div class="pure-u-xl-7-12 pure-u-1">
                                                <div id="TextBox-5GQY-4Yk-P" class="css-1wgxp4a">
                                                    <div class="pure-u-1 pure-u-md-1-2 css-nil">
                                                        <div class="css-q619vd">
                                                            <h2 class="activity-subtitle" style="text-align:center">
                                                                <span style="color: #000000;">
                                                                    <strong class="bold">【</strong>
                                                                    <span style="font-size:24px">
                                                                        <strong class="bold">活動辦法</strong>
                                                                    </span>
                                                                    <strong class="bold">】</strong>
                                                                </span>
                                                            </h2>

                                                            <p style="text-align:center">
                                                                <span style="color:#000000">
                                                                    <strong class="bold">對爸爸的愛，常常都是放在心裡口難開</strong>
                                                                </span>
                                                            </p>

                                                            <p style="text-align:center">
                                                                <span style="color:#000000">
                                                                    <strong class="bold">趁著父親節，大聲把對爸爸的愛說出來吧！</strong>
                                                                </span>
                                                            </p>

                                                            <p style="text-align:center">
                                                                <span style="color:#000000">
                                                                    <strong class="bold">用一句話向爸爸告白並分享一張與爸爸的合照</strong>
                                                                </span>
                                                            </p>

                                                            <p style="text-align:center">
                                                                <span style="color:#000000">
                                                                    <strong class="bold">就可以免費拿到父親節188購物金！</strong>
                                                                </span>
                                                            </p>

                                                            <p style="text-align:center">
                                                                <span style="color:#000000">
                                                                    <strong class="bold">快來獲得購物金，將好物帶回家送爸爸！</strong>
                                                                </span>
                                                            </p>

                                                        </div>
                                                    </div>
                                                    <div class="pure-u-1 pure-u-md-1-2 css-nil">
                                                        <div class="css-q619vd">
                                                            <p>
                                                                <img alt="familypic" class="lazyload lazyload" ratio="0.589" width="650" src="familypic.jpg" />
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </section>
                    </div>

                    <div class="wholepage" id="section-84906">
                        <section class="sectionStyle" data-sectiontype="TextBox">
                            <div class="subtitlebackgroundcolor">
                                <div class="css-w0aawk">
                                    <div class="css-1imtcu1">
                                    </div>
                                </div>
                                <div class="css-63o0oz">
                                    <div class="css-1125739">
                                        <div class="css-vp7yg8 ">
                                            <div class="pure-u-xl-7-12 pure-u-1">
                                                <div id="TextBox-xY86NCMAba" class="css-1wgxp4a">
                                                    <div class="pure-u-1 pure-u-md-1-1 css-nil">
                                                        <div class="css-q619vd">
                                                            <p style="text-align:center">
                                                                <span style="color:#ffffff">
                                                                    <span style="font-size:24px">
                                                                        <strong class="bold">來看看大家都如何表達自己的愛</strong>
                                                                    </span>
                                                                </span>
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="wholepage" id="section-84907">
                        <section class="sectionStyle" data-sectiontype="PromoResult">
                            <div class="css-5y6w96">

                                <div id="carouselExample" class="carousel carousel-dark slide">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="cardwrapper">
                                                <div class="card">
                                                    <div class="imgwrapper">
                                                        <img src="animalfamily.jpg" class="card-img-top" alt="...">
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text">Some quick example text to build on the card title.</p>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="imgwrapper">
                                                        <img src="animalfamily.jpg" class="card-img-top" alt="...">
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text">Some quick example text to build on the card title.</p>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="imgwrapper">
                                                        <img src="animalfamily.jpg" class="card-img-top" alt="...">
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text">Some quick example text to build on the card title.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="cardwrapper">
                                                <div class="card">
                                                    <div class="imgwrapper">
                                                        <img src="sticker.png" class="card-img-top" alt="...">
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text">Some quick example text to build on the card title.</p>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="imgwrapper">
                                                        <img src="sticker.png" class="card-img-top" alt="...">
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text">Some quick example text to build on the card title.</p>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="imgwrapper">
                                                        <img src="sticker.png" class="card-img-top" alt="...">
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text">Some quick example text to build on the card title .</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="cardwrapper">
                                                <div class="card">
                                                    <div class="imgwrapper">
                                                        <img src="animalfamily.jpg" class="card-img-top" alt="...">
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text">Some quick example text to build on the card title.</p>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="imgwrapper">
                                                        <img src="animalfamily.jpg" class="card-img-top" alt="...">
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text">Some quick example text to build on the card title.</p>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="imgwrapper">
                                                        <img src="animalfamily.jpg" class="card-img-top" alt="...">
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text">Some quick example text to build on the card title.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>


                                </div>
                        </section>
                    </div>
                    <div class="wholepage" id="section-84901">
                        <section class="sectionStyle" data-sectiontype="TextBox">
                            <div class="subtitlebackgroundcolor">

                                <div class="css-63o0oz">
                                    <div class="css-1125739">
                                        <div class="css-vp7yg8 ">
                                            <div class="pure-u-xl-7-12 pure-u-1">
                                                <div id="TextBox-0gWbXoq_sn" class="css-1wgxp4a">
                                                    <div class="pure-u-1 pure-u-md-1-1 css-nil">
                                                        <div class="css-q619vd">
                                                            <p style="text-align:center">
                                                                <span style="color:#ffffff">
                                                                    <span style="font-size:24px">
                                                                        <strong class="bold">獻給爸爸的好禮</strong>
                                                                    </span>
                                                                </span>
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="wholepage" id="section-84902">
                        <section class="sectionStyle" data-sectiontype="PromoPrize">
                            <div class="css-mjgszp">
                                <div class="cardwrapper">
                                    <div class="card">
                                        <div class="imgwrapper">
                                            <img src="animalfamily.jpg" class="card-img-top" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Some quick example text to build on the card title.</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="imgwrapper">
                                            <img src="animalfamily.jpg" class="card-img-top" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Some quick example text to build on the card title.</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="imgwrapper">
                                            <img src="animalfamily.jpg" class="card-img-top" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Some quick example text to build on the card title.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="wholepage" id="section-84904">
                        <section class="sectionStyle " data-sectiontype="PromoComment">
                            <div class="css-5y6w96">

                                <div class="css-63o0oz">
                                    <div class="css-1125739">
                                        <div class="css-vp7yg8 ">
                                            <div class="pure-u-xl-7-12 pure-u-1">
                                                <div>
                                                    <div class="css-hq5iw8"></div>
                                                    <div class="css-1ct1mdq">
                                                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-5">
                                                            <div class="css-1ggbtii">
                                                                <span>View More</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
