@{
    Layout = "_Layout_Backstage";
}
<div class="card-header pb-0">
    <h3>PowerBi商品業績表</h3>
    <iframe title="第二組_PowerBi商品業績表"
            width="1000" height="600"
            src="https://app.powerbi.com/view?r=eyJrIjoiMDQ3YWY0NDMtZGQ1OS00NzFhLThiYWMtZTllNDUxYWIyMzZlIiwidCI6IjcwODk3ZDZmLTBhNDgtNDlkZS04ODBmLTI3ZDhhZDQ1ZDc2ZSIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    }
</div>

