@{
    Layout = "_Layout_Backstage";
}
<div class="card-header pb-0">
    <iframe title="第二組_PowerBi商品業績表"
            width="1100" height="1000"
            src="https://app.powerbi.com/view?r=eyJrIjoiNmZkNGU2NjEtMTdmNy00YmQ4LTg5MjAtOGUzODM1ZWVkNzlhIiwidCI6IjcwODk3ZDZmLTBhNDgtNDlkZS04ODBmLTI3ZDhhZDQ1ZDc2ZSIsImMiOjEwfQ%3D%3D&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
</div>

