@{
    ViewData["Title"] = "BackLogin";
    Layout = "_Layout_EmployeeLogin";
}

@* <h1>管理員登入系統</h1> *@

<form role="form" method="post" action="~/Home/BackLogin" id="userForm">
    <div class="mb-3">
        <input type="email" class="form-control form-control-lg" placeholder="Email" aria-label="Email" value="" name="txtEmail" id="Inputemail">
        @* @Html.TextBox("txtEmail", "ivy@gmail.com", new { @class = "form-control form-control-lg", type = "email", placeholder = "Email", @aria_label = "Email" }) *@
    </div>
    <div class="mb-3">
        <input type="password" class="form-control form-control-lg" placeholder="Password" aria-label="Password" value="" name="txtPassword" id="InputPassword">
        @* @Html.Password("txtPassword", "11111", new { @class = "form-control form-control-lg", placeholder = "Password", @aria_label = "Password" }) *@
    </div>
    @* 記住我 *@
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="rememberMe">
        <label class="form-check-label" for="rememberMe">記住我</label>
    </div>
    @* 記住我end *@
    <div class="text-center">
        <button type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0" id="buttonSubmit">登入</button>
        <button class="btn btn-danger" id="buttonSubmitB">快速填入</button>
    </div>
</form>

@section Scripts {
    <script>
        const btnSubmit = document.querySelector('#buttonSubmit');

        document.querySelector('#buttonSubmitB').addEventListener('click', (evt) => {
            evt.preventDefault(); // 防止預設行為的發生
            document.querySelector('#Inputemail').value = "ivy@gmail.com";
            document.querySelector('#InputPassword').value = "11111";
        });


        btnSubmit.addEventListener('click', async (evt) => {
            evt.preventDefault(); //防止預設行為的發生

            const femail = document.querySelector('#Inputemail').value;
            const fpassword = document.querySelector('#InputPassword').value;
            if (femail && fpassword) {
                const memberData = {
                    "txtEmail": femail,
                    "txtPassword": fpassword
                };
                //將資料放進FormData
                const myForm = document.querySelector('#userForm');
                const fromdata = new FormData(myForm);
                //測試FormData中有無資料
                for (const pair of fromdata.entries()) {
                    console.log(pair[0], pair[1]);
                }

                const url = 'https://localhost:7160/api/TEmployees/Employeelogin';
                const response = await fetch(url, {
                    method: 'POST',
                    body: fromdata
                });
                const data = await response.text();
                const jsonparse = JSON.parse(data);
                const message = jsonparse.message;
                const user = jsonparse.user;
                if (user == null)
                    alert('請輸入正確密碼');
                const Jname = user.employeeName;
                const Jemail = user.eMail;
                if (Jemail != null) {
                    const memberData2 = {
                        "txtEmail": Jemail
                    };

                    const url2 = 'https://localhost:7160/api/TEmployees/EmployeeCheck';
                    const response2 = await fetch(url2, {
                        method: 'POST',
                        body: JSON.stringify(memberData2),
                        headers: { 'Content-Type': 'application/json' }
                    });
                    const datas = await response2.text();
                    const jsonparse2 = JSON.parse(datas);
                    const message2 = jsonparse2.message;
                    const user2 = jsonparse2.user;
                    const Jname2 = user2.employeeName;
                    const Jemail2 = user2.eMail;

                    if (message2 != null) {
                        alert(`${Jname2}：${message2}`);
                        window.location.href = "/Powerbi/Index";
                    }
                }

            } else
                alert("請輸入帳號及密碼");

        });

    </script>
}