
@{
    ViewData["Title"] = "BackIndex";
    Layout = "_Layout_Backstage";
}

<div class="text-center">
    <h1 class="display-4">選禮商店後臺系統</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
