@{
    ViewData["Title"] = "CashFlowB";
    Layout = "_Layout_Front2";
}

<h1>測試-綠界金流</h1>

<div class="text-center">
    <h2 class="display-4">綠界金流(接收端)</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @* <img src="~/img/e7786052-c6d9-40f4-8534-3cb9378a07ea.jpg" />
    <img src="~/img/e9588ba1-8443-4023-a50a-4bf361e81306.jpg" />
    <img src="~/img/043639fd-f10a-4c66-b961-8b79f613cce8.jpg" /> *@
</div>

<div class="vertical-group">
    <div id="carouselExampleInterval" class="carousel slide custom-carousel" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="~/img/e7786052-c6d9-40f4-8534-3cb9378a07ea.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="~/img/e9588ba1-8443-4023-a50a-4bf361e81306.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="~/img/043639fd-f10a-4c66-b961-8b79f613cce8.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="horizontal-group">
        <div id="carouselExampleInterval" class="carousel slide custom-carousel" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                    <img src="~/img/e7786052-c6d9-40f4-8534-3cb9378a07ea.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="~/img/e9588ba1-8443-4023-a50a-4bf361e81306.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="~/img/043639fd-f10a-4c66-b961-8b79f613cce8.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div id="carouselExampleInterval" class="carousel slide custom-carousel" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                    <img src="~/img/e7786052-c6d9-40f4-8534-3cb9378a07ea.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="~/img/e9588ba1-8443-4023-a50a-4bf361e81306.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="~/img/043639fd-f10a-4c66-b961-8b79f613cce8.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>


@section Styles{
    <style>
        .vertical-group {
            display: flex;
            flex-direction: column;
            align-items: center; /* 使旋轉木馬水平置中 */
            gap: 20px; /* 調整間距 */
            width: 100%; /* 確保群組佔滿整個寬度 */
        }

        .horizontal-group {
            display: flex;
            flex-direction: row;
            justify-content: center; /* 使旋轉木馬水平置中 */
            gap: 20px; /* 調整間距 */
            margin-top: 20px; /* 在垂直和水平群組之間增加空間 */
            width: 50%; /* 確保群組佔滿整個寬度 */
        }

        .custom-carousel {
            flex: 1; /* 確保旋轉木馬佔據可用空間 */
            width: 30%;
            margin: auto; /* 使旋轉木馬居中 */
        }

        .custom-control {
            width: 5px; /* 縮小按鈕寬度 */
            height: 5px; /* 縮小按鈕高度 */
        }

        .custom-control-icon {
            transform: scale(0.5); /* 將圖標縮小到30% */
        }

    </style>
}

@section Scripts {
    <script>

    </script>
}
