@{
    ViewData["Title"] = "CashFlowB";
}

<h1>測試-綠界金流</h1>

<div class="text-center">
    <h2 class="display-4">綠界金流(接收端)</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    <script>
        
    </script>
}