
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout_MemberLogin";
}

@* <h1>登入系統</h1> *@

<form role="form" method="post" action="~/Home/Login" id="userFrom">

<div class="mb-3">
        @Html.TextBox("txtEmail", "mi.lacinia.mattis@protonmail.com", new { @class = "form-control", type = "email", placeholder = "Email", @aria_label = "Email" })
</div>
<div class="mb-3">
        @Html.Password("txtPassword", "Amy", new { @class = "form-control", placeholder = "Password", @aria_label = "Password" })
</div>

<!--登入按鈕-->
<div class="text-center">
<button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">登入</button>
</div>
<!--登入按鈕end-->
<p class="text-sm mt-3 mb-0">沒有帳號? <a href="javascript:;" class="text-dark font-weight-bolder">@Html.ActionLink("建立新帳號", "MemberCreate")</a></p>
<p class="text-sm mt-3 mb-0"><a href="javascript:;" class="text-dark font-weight-bolder">忘記密碼</a></p>
</form>
