
@{
    ViewData["Title"] = "MemberForgetPassword";
    //Layout = "_Layout_Backstage";
}

<h1>網路選物平台</h1>

<h3>忘記密碼</h3>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h4>請填寫以下資訊</h4>
        <div id="div1" class="alert alert-info mt-3"></div>
        <form method="post" action="~/api/register" id="userForm">
            
            <div class="mb-3" id="idemail">
                <label for="InputEmail" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="InputEmail" name="txtEmail">
                <button type="submit" class="btn btn-success" id="buttonSubmit">查詢用戶</button>
            </div>
            <div class="mb-3" id="idpwd1">
                <label for="Inputpassword" class="form-label">請輸入新密碼</label>
                <input type="password" class="form-control" id="Inputpassword" name="txtPassword">
            </div>            

            <button type="submit" class="btn btn-primary" id="buttonSubmit2">送出</button>
        </form>
    </div>
    <div class="col-3"><button type="button" class="btn btn-light btn-sm"><a asp-action="Login">返回登入</a></button></div>
</div>

@section Scripts{
    <script>
        const divResult = document.querySelector("#div1");
        const divPassword = document.querySelector("#idpwd1");
        const divEmail = document.querySelector("#idemail");
        const btnSubmit = document.querySelector('#buttonSubmit');
        const btnSubmit2 = document.querySelector('#buttonSubmit2');
        divPassword.style.display = 'none';
        btnSubmit2.style.display = 'none';

        btnSubmit.addEventListener('click', async (evt) => {
            evt.preventDefault(); //防止預設行為的發生

            const fEmail = document.querySelector('#InputEmail').value;
            const fpassword = document.querySelector('#Inputpassword').value;

            if (fEmail) {
                const memberData = {
                    "txtEmail": fEmail
                };
                //將資料放進FormData
                const myForm = document.querySelector('#userForm');
                const fromdata = new FormData(myForm);
                //測試FormData中有無資料
                for (const pair of fromdata.entries()) {
                    console.log(pair[0], pair[1]);
                }
                
                const url = 'https://localhost:7160/api/TMembers/MemberForgetPassword';
                const response = await fetch(url, {
                    method: 'POST',
                    body: fromdata
                });
                console.log("test2");
                console.log(response);
                const data = await response.text();
                console.log("test3");
                console.log(data);
                const jsonmember = JSON.parse(data);
                console.log("test4");
                console.log(jsonmember);
                const message = jsonmember.message;
                console.log("test5");
                console.log(message);
                const name = jsonmember.json;
                const jsonp = JSON.parse(name);
                const Jname = jsonp.MemberName;
                const Jemail = jsonp.EMail;
                console.log("test6");
                console.log(name);
                console.log(Jname);
                console.log(Jemail);
                divResult.innerHTML = `<p>會員姓名：${Jname}/${message}</p>`;
                if (Jname) {
                    divPassword.style.display = '';
                    btnSubmit2.style.display = '';
                    divEmail.style.display = 'none';
                }
            }
        });

        btnSubmit2.addEventListener('click', async (evt) => {
            evt.preventDefault(); //防止預設行為的發生

            const fEmail2 = document.querySelector('#InputEmail').value;
            const fpassword2 = document.querySelector('#Inputpassword').value;

            if (fEmail2 && fpassword2) {
                const memberData2 = {
                    "txtEmail": fEmail2,
                    "txtPassword": fpassword2
                };
                //將資料放進FormData
                const myForm2 = document.querySelector('#userForm');
                const fromdata2 = new FormData(myForm2);
                //測試FormData中有無資料
                for (const pair2 of fromdata2.entries()) {
                    console.log(pair2[0], pair2[1]);
                }

                console.log("test1");
                console.log(fEmail2);
                const url = 'https://localhost:7160/api/TMembers/MemberEditPassword';
                const response2 = await fetch(url, {
                    method: 'POST',
                    body: fromdata2
                });
                console.log("test2");
                console.log(response2);
                const datas = await response2.text();
                console.log("test3");
                console.log(datas);
                const jsonmembers = JSON.parse(datas);
                console.log("test4");
                console.log(jsonmembers);
                const message2 = jsonmembers.message;
                console.log("test5");
                console.log(message2);
                const name2 = jsonmembers.json;
                const jsonp2 = JSON.parse(name2);
                const Jname2 = jsonp2.MemberName;
                const Jemail2 = jsonp2.EMail;
                console.log("test6");
                console.log(name2);
                console.log(Jname2);
                console.log(Jemail2);
                //divResult.innerHTML = `<p>會員姓名：${Jname2}/${message2}</p>`;
                if (message2 && Jname2) {
                    alert(`會員姓名：${Jname2}/${message2}`);
                    window.location.href = "/Home/Login";
                }
            }
        });
    </script>
}