
@{
    ViewData["Title"] = "MemberForgetPasswordB";
    Layout = "_Layout_Front2";
}

<h1>網路選物平台</h1>

<h3>忘記密碼</h3>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h4>請填寫以下資訊</h4>       
        <form method="post" action="~/api/register" id="userForm">

            <div class="mb-3" id="idemail">
                <label for="InputEmail" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="InputEmail" name="txtEmail">
            </div>
            <div class="mb-3" id="idpwd1">
                <label for="Inputpassword" class="form-label">請輸入新密碼</label>
                <input type="password" class="form-control" id="Inputpassword" name="txtPassword">
            </div>

            <button type="submit" class="btn btn-primary" id="buttonSubmit">送出</button>
                <button class="btn btn-danger" id="buttonSubmitB">快速填入</button>
        </form>
    </div>
    <div class="col-3"><a asp-action="Login" class="btn btn-light btn-sm">返回登入</a></div>
</div>

@section Scripts {
    <script>
        const divPassword = document.querySelector("#idpwd1");
        const divEmail = document.querySelector("#idemail");
        const btnSubmit = document.querySelector('#buttonSubmit');


        $('#buttonSubmitB').on('click', (evt) => {
            evt.preventDefault(); //防止預設行為的發生
            $('#InputEmail').val("k955339962@gmail.com");
            $('#Inputpassword').val("aaaa9876");
        });

        btnSubmit.addEventListener('click', async (evt) => {
            evt.preventDefault(); //防止預設行為的發生

            const fEmail = document.querySelector('#InputEmail').value;
            const fpassword = document.querySelector('#Inputpassword').value;

            if (fEmail && fpassword) {
                //將資料放進FormData
                const myForm = document.querySelector('#userForm');
                const fromdata = new FormData(myForm);
                //測試FormData中有無資料
                for (const pair of fromdata.entries()) {
                    console.log(pair[0], pair[1]);
                }

                const url = 'https://localhost:7160/api/TMembers/SenderEditPassword';
                const response = await fetch(url, {
                    method: 'POST',
                    body: fromdata
                });
                const data = await response.json();
                console.log('data');
                console.log(data);
                console.log(data.user);
                const message = data.message;
                const Jname = data.user.memberName;
                const Jemail = data.user.eMail;
                if (Jemail && Jname) {
                    alert(`會員姓名：${Jname}/${message}`);
                    window.location.href = "/Home/Login";
                } else
                    alert("沒有資料，請確認資料是否填寫錯");
            } else
                alert("尚未完成會員個人電子郵件或新密碼填寫");
        });
        
    </script>
}
