@{
    ViewData["Title"] = "MemberForgetPassword";
    Layout = "_Layout_Front2";
}

<h1>網路選物平台</h1>

<h3>忘記密碼</h3>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h4>請填寫以下資訊</h4>
        <div id="div1" class="alert alert-info mt-3"></div>
        <form method="post" action="~/api/register" id="userForm">

            <div class="mb-3" id="idemail">
                <label for="InputEmail" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="InputEmail" name="txtEmail">
                <button type="submit" class="btn btn-success" id="buttonSubmit">查詢用戶</button>
                <button class="btn btn-danger" id="buttonSubmitB">快速填入</button>
            </div>
            <div class="mb-3" id="idpwd1">
                <label for="Inputpassword" class="form-label">請輸入新密碼</label>
                <input type="password" class="form-control" id="Inputpassword" name="txtPassword">
            </div>

            <button type="submit" class="btn btn-primary" id="buttonSubmit2">送出</button>
        </form>
    </div>
    <div class="col-3"><a asp-action="Login" class="btn btn-light btn-sm">返回登入</a></div>
</div>

@section Scripts {
    <script>
        const divResult = document.querySelector("#div1");
        const divPassword = document.querySelector("#idpwd1");
        const divEmail = document.querySelector("#idemail");
        const btnSubmit = document.querySelector('#buttonSubmit');
        const btnSubmit2 = document.querySelector('#buttonSubmit2');
        divPassword.style.display = 'none';
        btnSubmit2.style.display = 'none';



        $('#buttonSubmitB').on('click', (evt) => {
            evt.preventDefault(); //防止預設行為的發生
            $('#InputEmail').val("k955339962@gmail.com");
        });

        btnSubmit.addEventListener('click', async (evt) => {
            evt.preventDefault(); //防止預設行為的發生

            const fEmail = document.querySelector('#InputEmail').value;
            const fpassword = document.querySelector('#Inputpassword').value;

            if (fEmail != null) {
                const memberData = {
                    "txtEmail": fEmail
                };
                //將資料放進FormData
                const myForm = document.querySelector('#userForm');
                const fromdata = new FormData(myForm);
                //測試FormData中有無資料
                for (const pair of fromdata.entries()) {
                    console.log(pair[0], pair[1]);
                }

                const url = 'https://localhost:7160/api/TMembers/MemberForgetPassword';
                const response = await fetch(url, {
                    method: 'POST',
                    body: fromdata
                });
                const data = await response.json();
                const message = data.message;
                const user = data.user;
                if (user == null)
                    alert("查無此人");
                const Jname = user.memberName;
                const Jemail = user.eMail;
                divResult.innerHTML = `<p>會員姓名：${Jname}/${message}</p>`;
                if (Jname) {
                    alert(`<p>會員姓名：${Jname}/${message}</p>`);
                    // divPassword.style.display = '';
                    // btnSubmit2.style.display = '';
                    divEmail.style.display = 'none';
                    //忘記密碼，確認信箱後寄送email，在email修改密碼後送回API改密碼，API寄送email成功通知
                    const urlA = 'https://localhost:7160/api/TMembers/SenderForgetPasswordEmail';
                    const responseA = await fetch(urlA, {
                        method: 'POST',
                        body: fromdata
                    });
                    const dataA = await responseA.text();
                }
            }
        });

        btnSubmit2.addEventListener('click', async (evt) => {
            evt.preventDefault(); //防止預設行為的發生

            const fEmail2 = document.querySelector('#InputEmail').value;
            const fpassword2 = document.querySelector('#Inputpassword').value;

            if (fEmail2 && fpassword2) {
                const memberData2 = {
                    "txtEmail": fEmail2,
                    "txtPassword": fpassword2
                };
                //將資料放進FormData
                const myForm2 = document.querySelector('#userForm');
                const fromdata2 = new FormData(myForm2);
                //測試FormData中有無資料
                for (const pair2 of fromdata2.entries()) {
                    console.log(pair2[0], pair2[1]);
                }


                const url = 'https://localhost:7160/api/TMembers/MemberEditPassword';
                const response2 = await fetch(url, {
                    method: 'POST',
                    body: fromdata2
                });

                const datas = await response2.text();
                const jsonmembers = JSON.parse(datas);
                const message2 = jsonmembers.message;
                const name2 = jsonmembers.json;
                const jsonp2 = JSON.parse(name2);
                const Jname2 = jsonp2.MemberName;
                const Jemail2 = jsonp2.EMail;
                //divResult.innerHTML = `<p>會員姓名：${Jname2}/${message2}</p>`;
                if (message2 && Jname2) {
                    alert(`會員姓名：${Jname2}/${message2}`);
                    window.location.href = "/Home/Login";
                }
            }
        });
    </script>
}