
@{
    ViewData["Title"] = "AllPackagesPage";
    Layout = "_Layout_Backstage";
}

<h1>AllPackagesPage</h1>

<section>
    <table class="table">
        <thead>
            <tr>
            </tr>
        </thead>

        <tbody id="table">
        </tbody>
    </table>
</section>
<img src="c:\storeproject\web\finalproject\msit158_2_finalproject\wwwroot\assets\img\packageimages\20240327133633.jpg" />
<img src="c:\storeproject\web\finalproject\msit158_2_finalproject\wwwroot\assets\img\logo-ct.png" />
<img src="c:\storeproject\web\finalproject\msit158_2_finalproject\wwwroot\assets\img\home-decor-1.jpg" />
@section Scripts{
    <script>
        const table = document.querySelector("#table");
        (async () => {
            const response = await fetch('@Url.Content("~/package/AllPackages")')
            if (!response.ok) {
                console.log(`erroe message:${response.status}`)
                return
            }
            const datas = await response.json()
            console.log(datas);
            const package = datas.map(p => {
                return `
                        <tr>
                        <td>${p.packName}</td>
                                <td><img src=~\assets\img\packageimages\ ${p.picture} alt="${p.packName}" width="100" height="100" /></td>
                        <td>${p.price}</td>
                    </tr>
                `
            });
            table.innerHTML = package.join("");
        })()


    </script>
}




@section Styles {
    <style>

    </style>
}