@model MSIT158_2_FinalProject.Models.TEmployee

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout_Backstage";
}

<h1>修改員工資料</h1>

<h4>填寫員工資訊</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="userForm" enctype="multipart/form-data">
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
            
            <input type="hidden" value="@Model.EmployeeId" name="EmployeeId" id="Inputid" />
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" id="Inputname" name="EmployeeName" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cellphone" class="control-label"></label>
                <input asp-for="Cellphone" class="form-control" id="InputCellphone" name="Cellphone" />
                <span asp-validation-for="Cellphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" id="InputAddress" name="Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" id="InputBirthday" name="Birthday" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" id="InputPassword" name="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMail" class="control-label"></label>
                <input asp-for="EMail" class="form-control" id="InputEMail" name="EMail" />
                <span asp-validation-for="EMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label id="idtd2">${employeePhoto ? `<img style="width: 500px; object-fit: contain;" src="data:image/jpeg;base64,${employeePhoto}" alt="員工照片" />` : '沒有可用的圖片'}</label> *@
                @* <img style="width: 500px; object-fit: contain;" src="data:image/jpeg;base64,@Model.EmployeePhoto" alt="員工照片" /> *@
                <img style="height: 400px; object-fit: contain;" src="@(Model.EmployeePhoto != null ? "data:image/jpeg;base64," + Convert.ToBase64String(Model.EmployeePhoto) : "")" alt="員工照片" /><br />
                <label asp-for="EmployeePhoto" class="control-label"></label>
                <input asp-for="EmployeePhoto" class="form-control" id="InputEmployeePhoto" name="avatar" type="file" />
                <span asp-validation-for="EmployeePhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnBoardDate" class="control-label"></label>
                <input asp-for="OnBoardDate" class="form-control" id="InputOnBoardDate" name="OnBoardDate" />
                <span asp-validation-for="OnBoardDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="DepId" class="control-label"></label>
                <input asp-for="DepId" class="form-control" id="InputDepId" name="DepId" />
                <span asp-validation-for="DepId" class="text-danger"></span> *@
                <select class="form-select" aria-label="Default select example" id="InputDepId" name="DepId">
                    <option value="1" selected>業務部</option>
                    <option value="2">財務部</option>
                    <option value="3">人資部</option>
                    <option value="4">行銷部</option>
                    <option value="5">客服部</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="送出並儲存" class="btn btn-primary" id="buttonSubmit" />
            </div>
            <div id="div1" class="alert alert-info mt-3"></div>
        </form>
    </div>
</div>

<div>
    <button type="button" class="btn btn-light"><a asp-action="List">返回</a></button>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const divResult = document.querySelector("#div1");
            const btnSubmit = document.querySelector('#buttonSubmit');
            btnSubmit.addEventListener('click', async (evt) => {
                evt.preventDefault(); // 防止預設行為的發生

                // 獲取所有表單值
                const employeeId = document.querySelector('#Inputid').value;
                const employeeName = document.querySelector('#Inputname').value;
                const employeeCellphone = document.querySelector('#InputCellphone').value;
                const employeeAddress = document.querySelector('#InputAddress').value;
                const employeeBirthday = document.querySelector('#InputBirthday').value;
                const employeePassword = document.querySelector('#InputPassword').value;
                const employeeEMail = document.querySelector('#InputEMail').value;
                const employeePhoto = document.querySelector('#InputEmployeePhoto').value;
                const employeeOnBoardDate = document.querySelector('#InputOnBoardDate').value;
                const employeeDepId = document.querySelector('#InputDepId').value;
                

                // 檢查所有值是否正確獲取
                // console.log("Employee Data:", {
                //     employeeId,
                //     employeeName,
                //     employeeCellphone,
                //     employeeAddress,
                //     employeeBirthday,
                //     employeePassword,
                //     employeeEMail,
                //     employeePhoto,
                //     employeeOnBoardDate,
                //     employeeDepId
                // });
                console.log('test2');

                // const employeeData = {
                //     "EmployeeId": employeeId,
                //     "EmployeeName": employeeName,
                //     "Cellphone": employeeCellphone,
                //     "Address": employeeAddress,
                //     "Birthday": employeeBirthday,
                //     "Password": employeePassword,
                //     "EMail": employeeEMail,
                //     //"OnBoardDate": employeeOnBoardDate,
                //     "DepId": employeeDepId
                // };

                //將資料放進FormData
                const myForm = document.querySelector('#userForm');
                const fromdata = new FormData(myForm);
                //測試FormData中有無資料
                for (const pair of fromdata.entries()) {
                    console.log(pair[0], pair[1]);
                }
                if (employeeName && employeeEMail && employeePassword) {
                    const url = `https://localhost:7160/api/TEmployees/${employeeId}`;
                    const response = await fetch(url, {
                        method: 'PUT',
                        body: fromdata
                    });
                    const data = await response.text();
                    console.log('data');
                    console.log(data);
                    const json = JSON.parse(data);
                    console.log('json');
                    console.log(json);
                    const message = json.message;
                    console.log('message');
                    console.log(message);
                    const Jname = json.employeeDb.employeeName;
                    console.log('Jname');
                    console.log(Jname);
                    divResult.innerHTML = `<p>員工姓名：${Jname}/${message}</p>`;
                    if (Jname != null) {
                        setTimeout(() => {
                            window.location.href = "/Employee/List";
                        }, 3000); // 3000 毫秒 = 3 秒
                    }
                }
               
            });
        });
    </script>
    @* @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
}
